---
import AddCity from "@/components/AddCity";
import Layout from "@/layouts/Layout.astro";

const { country } = Astro.params;

const { user } = Astro.locals;
---
<Layout title="Agregar Ciudad">
    <section class="w-full h-full flex flex-col justify-center items-center md:grid md:place-content-center px-4">
        <AddCity country={country!} user={user} client:only/>
    </section>
</Layout>