---
import Layout from "@/layouts/Layout.astro";
import type { City } from "@/lib/types";
import { db , Cities} from "astro:db";
import AddInterestPoint from "@/components/AddInterestPoint.tsx";

const { user } = Astro.locals;
const { city, country } = Astro.params;
const cities = await db.select().from(Cities);
const currentCity = cities.find((c) => c.name === city) as City;
---
<Layout title="Agregar punto de interes">
    <section class="w-full h-full flex flex-col justify-center items-center md:grid md:place-content-center px-4">
        <AddInterestPoint user={user} city={currentCity} country={country!} client:only/>
    </section>
    <img 
        class="fixed inset-0 w-full h-full object-center -z-[2] brightness-75" 
        src={currentCity.image} 
        alt=""
        transition:name=`${city} image`
    >
</Layout>